/*
@media (min-width: 768px) {
    
}

@media (min-width: 922px) {
    
}
*/
.header {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1;
    width: 100%;
    justify-content: space-between;
    padding: 0 2rem;
}

@media (min-width: 768px) {
    .header {
        padding: 0.5rem 4rem;
    }
}

.diferenteInicio {
    background-color: var(--gris);
}

.header .logo,
.header .imagenLogo {
    width: 5rem;
}
/* .d-none {
    display: none;
} */
.navegacion {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    align-items: center;
    text-align: center;
    transform: translateX(100%);
    transition: 1s;
    width: 0;
}

.navegacion.navegacionMobile {
    display: flex;
    flex-direction: column;
    visibility: visible;
    gap: 2rem;
    width: 95%;
    margin: 0 auto;
    background-color: var(--gris);
    border: 1px solid var(--grisClaro);
    padding: 2rem 1rem;
    border-radius: 1rem;
    opacity: 1;
    transform: translateX(0);
}

.navegacion.navegacionMobile a {
    width: 100%;
    padding: 1rem 0;
    border-bottom: 1px solid var(--grisClaro);
}

.navegacion.navegacionMobile a:last-of-type {
    border: 1px solid var(--grisClaro);
}

.navegacion a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 0.7rem;
    padding: 0 1.2rem;
    font-weight: 500;
    transition: 1s;
    z-index: 10;
}

@media (min-width: 992px) {
    .navegacion a {
        border-right: 2px solid var(--negro);
    }
}

.navegacion a:nth-of-type(4) {
    border-right: none;
}


@media (min-width: 922px) {
    .navegacion a:hover {
        color: var(--principal);
        font-size: 0.8rem;
        font-weight: 700;
    }
}

.navegacion .active {
    color: var(--principal);
    font-size: 0.8rem;
    font-weight: 700;
}

/* Botón Contacto */
.navegacion .contacto,
.copyEInfo .contacto {
    position: relative;
    padding: 20px 40px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: 2px solid transparent;
    transition: 0.5s;
    color: var(--blanco);
    text-decoration: none;
    font-weight: 500;
}

@media (min-width: 922px) {
    .contacto:hover {
        border: 2px solid var(--blanco);
    }
}

.contacto::before {
    content: '';
    position: absolute;
    inset: 0 8px;
    border-left: 2px solid var(--blanco);
    border-right: 2px solid var(--blanco);
    transition: 1s;
}

.contacto::after {
    content: '';
    position: absolute;
    inset: 8px 0;
    border-top: 2px solid var(--blanco);
    border-bottom: 2px solid var(--blanco);

    transition: 1s;
}

@media (min-width: 922px) {
    .contacto:hover::before {
        inset: 0 -12px;
        transform: skewY(15deg);
    }

    .contacto:hover::after {
        inset: -12px 0;
        transform: skewX(15deg);
    }
}

/* Animación de Toggle */
.toggle {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: var(--grisClaro);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.toggle .linea {
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: var(--gris);
    border-radius: 4px;
    transition: 0.5s;
}

.toggle .linea:nth-child(1) {
    transform: translateY(-8px);
    width: 16px;
    left: 5px;
}

.toggle .linea:nth-child(2) {
    transform: translateY(8px);
    width: 10px;
    left: 5px;
}

.toggle.animarToggle .linea:nth-child(3) {
    transform: translateX(60px);
}

.toggle.animarToggle .linea:nth-child(1) {
    width: 25px;
    transform: translateY(0) rotate(45deg);
    transition-delay: 0.125s;
}

.toggle.animarToggle .linea:nth-child(2) {
    width: 25px;
    transform: translateY(0) rotate(315deg);
    transition-delay: 0.25s;
}

@media (min-width: 992px) {
    .navegacion {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        gap: 1rem;
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }

    .toggle {
        display: none;
    }
}